.section5 {
  background-color: #f9f9f9;
  padding: 60px 40px 0;
  font-family: Arial, sans-serif;
}

.section5-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.guest-review h2 {
  margin-top: 50px;
  color: #323232ff; 
  font-size: 50px;
  font-family: 'Crimson Text', serif; 
  font-weight: 600;     
  
}

.guest-review p {
  margin-top: 30px;
  color: #323232;
  font-family: 'Crimson Text', serif; 
  font-weight: normal;
  font-size: 20px; 
}

.quote-block {
  position: relative;
  margin-top: 20px;
  color: #323232ff; 
}

/* Big quotation mark */
.quote-mark {
  position: absolute;
  top: -5px;
  left: -20px;
  font-size: 400px;
  line-height: 1;line-height: 1;
  color: #32323220;
}

/* Quote slider */
.quote-slider {
  position: relative;
  overflow: hidden;
   height: 300px;
  
}

.quote-slider blockquote,
.quote-slider .guest-name {
  display: none; 
  color: #323232ff; 
}

.quote-slider blockquote {
  margin: 0;
  padding-left: 40px;
  font-style: italic;
  color: #323232ff;
  line-height: 1.6;
  margin-top: 100px;
  margin-left: 130px;
  font-family: 'Crimson Text', serif; 
  font-size: 20px;
}

.quote-slider .guest-name {
  font-weight: bold;
  color: #323232ff; 
  margin-top: 20px;
  margin-left: 480px;
  font-family: 'Crimson Text', serif; 
  font-size: 20px;
}


.vertical-line {
  width: 1px;              
  background-color: #C39C4D; 
  margin: 0 20px;          
  height: 100%;          
}

.hotel-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -50px;
  margin-left: -200px;
}

.hotel-logo {
  position: relative;
   width: 340px;       
  height: auto;     
}

.hotel-logo img {
  width: 400px;     
  height: auto;      
  display: block;
  margin-left: 410px; 
  margin-top: 10px;  
}


.info-block {
  transform: translateY(-40px);
  margin-left: 450px;
}


.info-block h4 {
color: #323232;
 margin: 0 0 8px 0; 
text-align: left;   
font-weight: normal;
font-size: 20px;
color: #323232ff; 
font-family: 'Crimson Text Regular', serif; 
line-height: 1;
}

.info-block p,
.info-block ul {
  font-size: 18px;
  margin: 0;          
  padding: 0;        
  text-align: left;   
  font-family: 'Crimson Text Regular', serif; 
  line-height: 1;
}

.info-block ul {
  list-style: none;
  padding: 0;
}

.info-block ul li {
  margin-bottom: 5px;
}

.info-block a {
  color: #5C4033;
  text-decoration: none;
}

.info-block a:hover {
  text-decoration: underline;
}

/* Social icons */
.social-icons {
  transform: translateY(-50px);
  margin-left: 448px;
  font-size: 35px;
  
}

.social-icons img {
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Bottom bar */
.bottom-bar {
  background: linear-gradient(to right, #0d0d0d, #9e9e9e);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 100%;
  height: 110px;
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  font-weight: normal;
  color: #e9ce9890;
  
  
}

.bottom-bar .p1
.bottom-bar .p2 {
  margin: 0;
   font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  text-align: center;
  justify-content: center;
}


.book-btn {
  background: transparent;
  color: #C39C4D;
  border: 1px solid #eed98250;
  padding: 15px 35px;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  margin-top: -2px;
  margin-left: -20px;
}

.book-btn:hover {
  background: goldenrod;
  color: black;
  border: 1px solid #eed982;
}
