/* Section header */
.section3-header1 {
  text-align: center;
  margin-bottom: 40px;
}

.section3-header1 h2 {
  font-size: 3em;
  color: #5C4033;
  margin-bottom: 10px;
  font-family: 'Crimson Text Regular', serif; 
  line-height: 1;
}

.section3-header1 p {
  font-size: 1.2em;
  color: #323232;
  max-width: 700px;
  margin: 0 auto;
   font-family: 'Crimson Text Regular', serif; 
  line-height: 30px;
  margin-bottom: 2px;
}

/* Grid layout */
.collage-grid-amenities {
  display: grid;
  grid-template-columns: repeat(4, 420px); 
  grid-template-rows: repeat(2, 320px);   
  gap: 0px;
  justify-content: center;
}

/* Image styling */
.collage-grid-amenities img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.25);
}

/* Text box styling */
.collage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;       
  
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: justify;
  line-height: 24px;
}

.collage-text h3 {
  margin-bottom: 10px;
  color: #5C4033;
  font-family: 'Crimson Text Regular', serif; 
  font-size: 1.8em;
  text-align: center;
}

.collage-text p {
  font-family: 'Crimson Text Regular', serif; 
  font-size: 1.1em;
  color: #323232;
}

/* diff background para sa 3rd and 4th text boxes */
.collage-grid-amenities > .collage-text:nth-child(3),
.collage-grid-amenities > .collage-text:nth-child(4),
.collage-grid-amenities > .collage-text:nth-child(5)  {
  background-color: #e9ce9845; 
}
