/* General section styling */
.page-section {
     position: relative;
  z-index: 1;
  min-height: 100vh;     
  width: 100%;          
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-size: cover; 
  background-position: center;
}



/* Individual section backgrounds */
.section1 {
  background-image: url('../images/hotel3.jpg');
}

.section2 {
  background-image: url('');
  background-color: seashell;
  color: saddlebrown;
}

.section3 {
  background-image: url('');
  background-color: seashell;
  color: saddlebrown;
}

.section4 {
  background-image: url('');
  background-color: seashell;
  color: saddlebrown;
}


html {
  scroll-behavior: smooth;
}

hr {
  border: none;
  height: 120px;              
  background-color: #5C4033;   
  margin: 0;
  border: none;
  outline: none;

}

.divider{
  border: none;
  height: 160px;              
  background-color: #5C4033;   
  margin: 0;
  border: none;
  outline: none;
}


